@import "./../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables";
@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-badge-border-color: var(--ds-basic-color-brand-primary, #{$ds-basic-color-brand-primary});
  --ds-auro-badge-boxshadow-color: transparent;
  --ds-auro-badge-container-color: var(--ds-basic-color-brand-primary, #{$ds-basic-color-brand-primary});
  --ds-auro-badge-text-color: var(--ds-basic-color-texticon-inverse, #{$ds-basic-color-texticon-inverse});
}
